.git
.gitignore
backend/venv
backend/.venv
.venv
frontend/node_modules
frontend/build
frontend-employee/node_modules
frontend-employee/build
frontend-employee/backend/node_modules
backend/__pycache__
frontend/__pycache__
frontend-employee/__pycache__
frontend-employee/backend/__pycache__
.pytest_cache
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
